@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
    	@header(title)
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            @navbar()
        </div>

        <div class="container">
            @content
        </div>

        <hr>

        <footer>
            <div class="container">
                <p class="muted credit" style="text-align:center">
                    © @Messages("application.url") 2013
                </p>
            </div>
        </footer>
    </body>
    
</html>
