@(content: Html)(implicit user: User)

<!DOCTYPE html>

<html>
    <head>
    	@header()
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            @navbar()
        </div>

        <div class="container">
            @content
        </div>

        <hr>

        <footer>
            <div class="container">
                <p class="muted credit" style="text-align:center">
                    © 2013 <a href="@Messages("application.url")">@Messages("application.company")</a>
                </p>
            </div>
        </footer>
    </body>
    
</html>
